* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'MyFont';
    src: url("../fonts/Monad.otf");
}

body {
    height: 100%;
    background: linear-gradient(45deg, #25123f, #19424e, #25123f, #e41376);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

h2,
h3 {
    font-family: 'MyFont';
    color: #E41376;
}

h2 {
    font-size: 55px;
}

h3 {
    font-size: 38px;
}

p {
    font-size: 18px;
    line-height: 35px;
    color: #daeff2;
}

#hesder {
    height: 700px;
}

#bg-video {
    position: relative;
}

.header-title {
    font-family: 'MyFont';
    font-size: 65px;
    color: #0cc;
    background: -webkit-linear-gradient(90deg, #e41376, #0cc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    left: 30%;
    top: 250px;
    text-align: center;
    z-index: 1;
    transition: 0.5;
}

.hesder-title a:hover {
    color: #0cc;
}

nav {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

ul {
    overflow: hidden;
    margin: 0 50px;
}

ul li {
    list-style: none;
    float: left;
}

nav a {
    display: block;
    text-decoration: none;
    padding: 30px 15px 0;
    font-family: 'MyFont';
    color: #daeff2;
    transition: 0.5s;
    font-size: 20pt;
    font-weight: 300;
}

nav a:hover {
    color: #0cc;
}

section {
    height: auto;
    overflow: hidden;
}

#profile {
    justify-content: center;
    align-items: center;
}

#profile h2 {
    padding-top: 60px;
    padding-left: 800px;
    padding-bottom: 50px;
}

#profile h3 {
    padding-bottom: 20px;
}

#profile p {
    font-family: 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
    padding-bottom: 30px;
}

#profile img {
    float: left;
    height: 600px;
    width: auto;
    padding-left: 160px;
    padding-right: 80px;
}

#utau {
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    margin-top: 40px;
    padding-left: 100px;
}

#utau h2,
#utau h3{
    font-family: 'MyFont';
}

#utau p {
    margin: 0;
    padding-bottom: 30px;
    font-family:'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
}

#utau h2 {
    padding-top: 60px;
    padding-left: 250px;
    padding-bottom: 30px;
}

#utau-left {
    padding: 0 auto;
    float: left;
}

#utau img {
    height: 600px;
}

#mv {
    width: auto;
    height: auto;
}

.mvs {
    text-align: center;
    height: 650px;
}

.mvs h2 {
    margin: 30px 14px;
}

#mv-button {
    padding: 70px 0;
}

.mvs a {
    font-size: 16px;
    padding: 20px 40px;
    background: #e41376;
    color: #daeff2;
    border: 1px solid #e41376;
    text-decoration: none;
    text-align: center;
    transition: 0.3s;
}

.mvs a:hover{
    background: #25123f;
    color: #0cc;
}

#photo {
    padding: 10px 0;
    margin-left: 20px;
    height: auto;
    padding-bottom: 10px;
}

#photo h2 {
    padding: 50px 0;
    text-align: center;
}

footer {
    overflow: hidden;
}

.footer {
    height: 130px;
    background-image: url(../images/footer.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
}

.footer img {
    margin-top: 25px;
    padding: 0 30px;
}

.footer p {
    text-align: center;
    font-family: 'MyFont';
    font-size: 30px;
    color: #e41376;
}

.fadein {
    opacity: 0;
    transform: translate(0, 100px);
    transition: all 1s;
}

.fadein.active {
    opacity: 1;
    transform: translate(0, 0);
}
